NEXT_PUBLIC_BASE_URL=http://localhost:3000
REMOTION_AWS_ACCESS_KEY_ID=<Access key ID>
REMOTION_AWS_SECRET_ACCESS_KEY=<Secret access key>
REMOTION_AWS_REGION=<Aws Region>
REMOTION_AWS_FUNCTION_NAME=<AWS Lambda function name>
REMOTION_SERVE_URL=<AWS Lambda serve url>
UPSTASH_REDIS_REST_URL=<uptash redis url>
UPSTASH_REDIS_REST_TOKEN=<upstash redis token>