{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": false,
  "editorconfig": true,
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "pluginSearchDirs": false,
  "printWidth": 100,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
